#root {
  max-width: 1440px;
  margin: 0 auto;
}
body {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-family:Open Sans,sans-serif;
  font-size:1rem;
  line-height:1.6;
  color:#888;
  background-color:#fff;
  margin:0;
  overflow-x:hidden;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
body *, body :after, body :before {
  -webkit-box-sizing:inherit;
  box-sizing:inherit
}
::-moz-selection {
  text-shadow:none;
  color:#fff;
  background-color:#84bd00
}
::selection {
  text-shadow:none;
  color:#fff;
  background-color:#84bd00
}
a {
  -webkit-transition:color .2s ease-out;
  -o-transition:color .2s ease-out;
  transition:color .2s ease-out;
  text-decoration:none;
  color:#84bd00
}
a:focus, a:hover {
  color:#84bd00;
  text-decoration:underline
}
a.link-unstyled {
  -webkit-transition:none;
  -o-transition:none;
  transition:none;
  color:inherit
}
a.link-unstyled:focus, a.link-unstyled:hover {
  color:inherit;
  text-decoration:none
}
.places-locator {
  border:1px solid #ccc
}
.places-locator__controls {
  display:flex;
  flex-direction:column;
  border-bottom:1px solid #ccc
}
@media (min-width:1024px) {
  .places-locator__controls {
    flex-direction:row
  }
}
.places-locator__control {
  background-color:#f5f5f5;
  flex:1;
  padding:1.5rem
}
@media (min-width:1024px) {
  .places-locator__control {
    padding:2rem
  }
}
.places-locator__control:not(:first-child) {
  border-top:1px solid #ccc
}
@media (min-width:1024px) {
  .places-locator__control:not(:first-child) {
    border-left:1px solid #ccc;
    border-top:0
  }
}
.places-locator__list {
  padding:0;
  margin:0;
  list-style:none
}
.places-locator__list>li:before {
  content:none
}
@media (min-width:1024px) {
  .places-locator__list {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0
  }
}
.places-locator__list-item {
  padding:1.5rem;
  margin-bottom:0;
  cursor:pointer
}
.places-locator__list-item:not(:first-child) {
  border-top:1px solid #ccc
}
.places-locator__list-item.is-active {
  background-color: rgba(109, 74, 211, 0.15);
}
.places-locator__main {
  display:flex;
  flex-direction:column
}
@media (min-width:1024px) {
  .places-locator__main {
    flex-direction:row
  }
}
.places-locator__vacancies {
  flex:2;
  position:relative;
  overflow-y:auto
}
.places-locator__map {
  flex:3
}
.places-locator__map .google-map {
  padding-bottom:87.5%
}
.places-locator-card {
  display:flex;
  flex-direction:column
}
@media (min-width:450px) {
  .places-locator-card {
    flex-direction:row;
    align-items:center
  }
}
.places-locator-card__icon {
  display:none
}
@media (min-width:450px) {
  .places-locator-card__icon {
    display:inline-block
  }
}
.places-locator-card__address {
  font-size:.875rem
}
.places-locator-card__title {
  font-weight:600;
  color:#444
}
.places-locator-card__main {
  margin-bottom:1rem
}
@media (min-width:450px) {
  .places-locator-card__main {
    padding:0 1rem;
    margin-bottom:.5rem
  }
}
@media (min-width:450px) {
  .places-locator-card__cta {
    margin-left:auto
  }
}
.google-map {
  position:relative;
  width:100%;
  height:0;
  padding-bottom:56.25%
}
.google-map__loader, .google-map__map {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0
}
.google-map__loader {
  background-color:#f5f5f5;
  display:flex;
  justify-content:center;
  align-items:center
}
.form__control {
  display:block;
  width:100%;
  padding:.6rem;
  font-size:1rem;
  line-height:1.6;
  color:#888;
  background-color:#fff;
  background-image:none;
  background-clip:padding-box;
  border:1px solid #ccc;
  border-radius:5px;
  text-align:left
}
.form__control:focus {
  outline:none;
  border-color:#444;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(68,68,68,.6)
}
.form__group {
  margin-bottom:1rem
}
.form__label {
  padding-top:.6rem;
  padding-bottom:.6rem;
  color:#444;
  display:inline-block
}
.spinner{
  transition-property: transform;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}
